.cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body{
  display: flex;
  margin: 5%;
  width: 90%;
  border: none;
}
.BtnContainer{
  display: flex;
}
.CardBtn{
  width: 36px;
  height: 36px;
}
